In [108]:
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt


df = pd.read_csv('titanic.csv')


df = df.dropna()

In [109]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Cabin
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,C85
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,C123
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,E46
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,G6
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,C103

In [110]:
dummies = pd.get_dummies(df['Sex'])
dummies.head(1)

df = pd.concat([df, dummies], axis=1)


df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Cabin,female,male
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,C85,1,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,C123,1,0
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,E46,0,1
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,G6,1,0
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,C103,1,0

In [111]:

from sklearn.preprocessing import normalize #get the function needed to normalize our data.

X = df[['Age', 'SibSp', 'Pclass', 'Parch', 'male']] #create the X matrix
X = normalize(X) #normalize the matrix to put everything on the same scale
y = df['Survived'] #create the y-variable


df['Survived'].value_counts()

1    125
0     60
Name: Survived, dtype: int64

In [112]:
from sklearn.model_selection import train_test_split #We need this to split the data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1) #split the data, store it into different variables

In [128]:
from sklearn.neighbors import KNeighborsClassifier #the object class we need

knn = KNeighborsClassifier(n_neighbors=3) #create a KNN-classifier with 5 neighbors (default)
knn = knn.fit(X_train, y_train) #this fits the k-nearest neigbor model with the train data
accuracy = knn.score(X_test, y_test) #calculate the fit on the test data

In [129]:
from sklearn.metrics import confusion_matrix
y_test_pred = knn.predict(X_test) #the predicted values
cm = confusion_matrix(y_test, y_test_pred) #creates a "confusion matrix"
cm

array([[12,  7],
       [10, 27]], dtype=int64)

In [130]:

#In order to read it easily , let's make a dataframe out of it, and add labels to it.
conf_matrix = pd.DataFrame(cm, index=['Not survive', 'Survived'], columns = ['Not survived P', 'Survived P']) 
conf_matrix

             Not survived P  Survived P
Not survive              12           7
Survived                 10          27

In [131]:
y_test.value_counts()

1    37
0    19
Name: Survived, dtype: int64

In [132]:
recall  = 27 / (27 + 10)
precision = 27 / (27 + 7)

In [133]:
print(f'The accuracy is {accuracy}')

The accuracy is 0.6964285714285714

In [134]:
print(f'The recall is {recall}')

The recall is 0.7297297297297297

In [135]:
print(f'The precision is {precision}')

The precision is 0.7941176470588235